__pycache__/
*.o
*.ko
*.mod
*.mod.c
*.cmd
.*.cmd
.tmp_versions/
Module.symvers
modules.order
*.a
debian/new-lg4ff-dkms/
debian/new-lg4ff-dkms.postinst
debian/new-lg4ff-dkms.prerm
debian/.debhelper/
debian/files
debian/debhelper-build-stamp
debian/*.substvars
debian/*.debhelper.log
